<br />
<div
  class="container py-5 px-5 rounded-3 shadow-lg text-white"
  style="max-width: 1040px"
>
  <h2 class="pb-2 border-bottom">Ahorcado</h2>
  <div class="text-end">
    <button class="btn btn-warning btn-lg px-4 gap-3" (click)="restart()">
      Reiniciar
    </button>
  </div>

  <h3 class="score">
    <img width="50px" id="score" src="../../../assets/score.png" />
    {{ this.score }}
  </h3>
  <br />
  <img
    style="max-width: 50%; min-width: 295px; margin: 20px"
    src="../../../assets/hangman/flag_{{ this.mistakes }}.png"
  />

  <div style="display: inline-flex">
    <h2
      style="display: inline-flex; margin-right: 15px"
      *ngFor="let letter of this.formedWord"
    >
      {{ letter }}
    </h2>
  </div>

  <div style="margin: auto; text-align: center">
    <h2 style="text-align: center">{{ this.chosenLetter }}</h2>

    <div style="margin: auto">
      <button
        *ngFor="let letter of this.keyboardFirstRow"
        type="button"
        class="btn btn-light keyboardBtn btn-lg px-4 gap-3"
        id="{{ letter }}"
        (click)="changeLetter(letter)"
      >
        {{ letter }}
      </button>
    </div>
    <div style="margin: auto; margin-top: 3px">
      <button
        *ngFor="let letter of this.keyboardSecondRow"
        type="button"
        class="btn btn-light keyboardBtn btn-lg px-4 gap-3"
        id="{{ letter }}"
        (click)="changeLetter(letter)"
      >
        {{ letter }}
      </button>
    </div>
    <div style="margin: auto; margin-top: 3px">
      <button
        *ngFor="let letter of this.keyboardThirdRow"
        type="button"
        class="btn btn-light keyboardBtn btn-lg px-4 gap-3"
        id="{{ letter }}"
        (click)="changeLetter(letter)"
      >
        {{ letter }}
      </button>
    </div>
  </div>
</div>
