<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">Bienvenido</h2>
    <form>
      <input
        type="email"
        id="login"
        class="fadeIn second"
        name="login"
        [(ngModel)]="usuario.email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        [(ngModel)]="usuario.password"
        placeholder="Contraseña"
        required
      />
      <input
        type="password"
        id="password_confirmation"
        class="fadeIn third"
        name="password_confirmation"
        [(ngModel)]="usuario.passwordConfirmation"
        placeholder="Confirmar contraseña"
        required
      />
      <button type="submit" class="fadeIn fourth" (click)="onRegister()">
        Registrarme
      </button>
    </form>
  </div>
</div>
