<div class="container-page fadeInDown">
  <div class="body">
    <div class="sidebar">
      <ul>
        <li><a routerLink="/games/hangman">𓍯 - Ahorcado</a></li>
        <li><a routerLink="/games/higherorlower">🃏 - Mayor o Menor</a></li>
        <li><a routerLink="/games/asked">❓ - Preguntados</a></li>
        <li><a routerLink="/games/logle">⭐ - Logle</a></li>
        <li><a routerLink="/survey">📝 - Encuesta</a></li>
        <li><a href="aboutme">🦸🏽‍♂️ - Sobre mi!</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="card" routerLink="/games/hangman">
        <div class="card-content">
          <div class="image hangman"></div>
          <div class="text">Ahorcado</div>
        </div>
      </div>
      <div class="card" routerLink="/games/higherorlower">
        <div class="card-content">
          <div class="image higherorlower"></div>
          <div class="text">Mayor o menor</div>
        </div>
      </div>
      <div class="card" routerLink="/games/asked">
        <div class="card-content">
          <div class="image asked"></div>
          <div class="text">Preguntados</div>
        </div>
      </div>
      <div class="card" routerLink="/games/logle">
        <div class="card-content">
          <div class="image logle"></div>
          <div class="text">Logle</div>
        </div>
      </div>
      <div class="card" routerLink="/survey">
        <div class="card-content">
          <div class="image survey"></div>
          <div class="text">Encuesta</div>
        </div>
      </div>
      <div class="card" routerLink="/aboutme">
        <div class="card-content">
          <div class="image aboutme"></div>
          <div class="text">Sobre mí</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">Ignx</div>
</div>
