<div class="container-page">
  <div class="container fadeInDown">
    <h2>Sobre mi</h2>
    <div class="profile">
      <img src="assets/img/alumno.jpg" alt="Foto del alumno" />
      <div class="info">
        <p><strong>Nombre:</strong> Ignacio Logiudice</p>
        <p><strong>Edad:</strong> 23 años</p>
        <p><strong>Correo Electrónico:</strong> ignacio.logiudice@gmail.com</p>
      </div>
    </div>
    <h2>Sobre el juego</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac leo
      ornare, mattis sapien et, dapibus nulla. Duis nisl eros, vestibulum at
      hendrerit ut, malesuada eget mauris. Etiam et turpis ipsum. Etiam eget
      facilisis mi, at porttitor diam. Pellentesque gravida est vel diam
      dignissim, sit amet malesuada mauris mattis. Duis tempor arcu lorem, ac
      consequat elit rutrum nec. In mollis eget risus sed facilisis. Nunc
      volutpat vel tellus vel accumsan. Sed sit amet erat tempor, imperdiet
      justo ac, rutrum justo. Donec et mi sit amet ligula scelerisque
      ullamcorper ac malesuada ex. Quisque facilisis vulputate scelerisque.
      Etiam dui ipsum, bibendum ac felis eu, varius viverra nisi. Donec interdum
      arcu iaculis sem accumsan interdum. Suspendisse convallis elementum
      tincidunt.
    </p>
  </div>
</div>
