<div class="wrapper fadeInDown">
  <div id="formContent">
    <button type="button" class="fadeIn fourth" (click)="onAutoComplete()">
      Autocompletar
    </button>
    <h2 class="active">Bienvenido</h2>
    <form>
      <input
        type="email"
        id="login"
        class="fadeIn second"
        name="login"
        [(ngModel)]="usuario.email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        [(ngModel)]="usuario.password"
        placeholder="Contraseña"
        required
      />
      <button type="submit" class="fadeIn fourth" (click)="onLogin()">
        Ingresar
      </button>
      <button
        id="btn-google"
        type="submit"
        class="fadeIn fourth"
        (click)="onLoginGoogle()"
      >
        Ingresar con Google
      </button>
    </form>

    <div id="formFooter">
      <label
        >Todavia no tenes cuenta?
        <a class="underlineHover" href="/register">Registrarse</a></label
      >
    </div>
  </div>
</div>
