<div class="container-page fadeInDown">
  <div class="container">
    <h2>Sobre mí</h2>
    <div class="profile">
      <img src="../../../assets/img/alumno.jpg" alt="Foto del alumno" />
      <div class="info">
        <p><strong>Nombre:</strong> Ignacio Logiudice</p>
        <p><strong>Edad:</strong> 23 años</p>
        <p><strong>Correo Electrónico:</strong> ignacio.logiudice@gmail.com</p>
      </div>
    </div>
    <h2>Logle</h2>
    <p>
      Sumérgete en este desafiante juego donde debes adivinar a qué empresa
      pertenece el logo mostrado. Dispones de un total de 3 intentos para
      descifrar la identidad de la empresa a través de fragmentos revelados en
      cada fallo. ¿Tienes lo necesario para reconocer marcas icónicas con solo
      partes de su logo visible? ¡Pon a prueba tu conocimiento y demuestra tu
      habilidad en el fascinante mundo de los logos!
    </p>
  </div>
</div>
